
      <!-- /header -->
      <%- include("conn/header.ejs") %>
      <%- include("conn/top.ejs") %>
      <!-- Main Sidebar Container -->
       <%- include("conn/navebar.ejs") %>

      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-12">
                <header class="py-5 bg-light border-bottom mb-4">
                  <div class="container">
                    <div class="text-center">
                      <h1 class="fw-bolder">Welcome to <strong>Travel World</strong></h1>
                    </div>
                  </div>
                </header>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>
      </div>
      <!-- /Footer -->
      <%- include("conn/copyright.ejs") %>
      <%- include("conn/footer.ejs") %>