<!-- /header -->
<%- include("../conn/header.ejs") %> 
<%- include("../conn/top.ejs") %>
<!-- Main Sidebar Container -->
<%- include("./navebar.ejs") %>

<!-- Main Start -->

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3>Package</h3>
            </div>
          </div>
          <!-- /.card -->

          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Package Name</th>
                    <th>Booked Date</th>
                    <th>Price</th>
                    <th>Destination</th>
                    <th>Package Code</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td>1</td>
                    <td>ABCD</td>
                    <td>09/02/2023</td>
                    <td>2000</td>
                    <td>Delhi -> Manali </td>
                    <td>PCK-235</td>
                    <td>
                      <div style="display: flex;">
                        <button type="button" class="btn-sm btn-block bg-gradient-warning  text-white" >InProcess</button>
                      </div>
                    </td>
                  </tr>
    

                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->

  <!-- /.content -->
</div>
<!-- main End -->
<!-- /Footer -->
<%- include("../conn/copyright.ejs") %> 
<%- include("../conn/footer.ejs") %>
