<!-- /header -->
<%- include("../conn/header.ejs") %> <%- include("../conn/top.ejs") %>
<!-- Main Sidebar Container -->
<%- include("./navebar.ejs") %>
<div class="content-wrapper">
<section class="content ">
  <div class="container ">
    <h1 style="text-align: center" class="mb-3 pb-3">
      Please Fill The Basic Details First!
    </h1>
    <div class="row mb-3">
       
      <div class="col-md-8">
        <form action="/tourist/edit-profile" enctype="multipart/form-data" method="post">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault01">Organization</label>
              <input
                type="text"
                class="form-control"
                id="validationDefault01"
                placeholder="Organization"
                name="organization"
                value="<%=tourist.touristOrganization %>"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault01">Education</label>
              <input
                type="text"
                class="form-control"
                id="validationDefault01"
                placeholder="Education"
                name="education"
                value="<%=tourist.touristEducation %>"
                required
              />
            </div>
        
          
            <div class="col-md-6 mb-3">
              <label for="validationDefault01">Country</label>
              <input
                type="text"
                class="form-control"
                id="validationDefault01"
                placeholder="Country"
                name="country"
                value="<%=tourist.touristCountry %>"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault01">Contect No.</label>
              <input
                type="phone"
                class="form-control"
                id="validationDefault01"
                placeholder="phone"
                name="phone"
                value="<%=tourist.touristCountry %>"
                required
              />
                
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Address</label>
              <input
                type="text"
                class="form-control"
                id="validationDefault03"
                placeholder="Address"
                value="<%=tourist.touristAddress %>"
                name="address"
                required
              />
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationDefault04">City</label>
              <input
                type="text"
                class="form-control"
                id="validationDefault04"
                placeholder="city"
                name="city"
                value="<%=tourist.touristCity %>"
                required
              />
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationDefault05">State</label>
              <input
                type="text"
                class="form-control"
                id="validationDefault05"
                placeholder="State"
                name="state"
                value="<%=tourist.touristState %>"
                required
              />
            </div>
          </div>
        </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="validationDefault01">Profile picture</label>
              <input
                type="file"
                class="form-control"
                name="timage"
                
              />
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
       
        </form>

      </div>
     
    </div>


  </div>
</section>
</div>

<!-- /Footer -->
<%- include("../conn/copyright.ejs") %> <%- include("../conn/footer.ejs") %>
