<!-- /header -->
<%- include("../conn/header.ejs") %> <%- include("../conn/top.ejs") %>
<!-- Main Sidebar Container -->
<%- include("../conn/navebar.ejs") %>

<!-- Main Start -->

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3>All Package List</h3>
            </div>
          </div>
          <!-- /.card -->

          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Package name</th>
                    <th>Package Discription</th>
                    <th>Route</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Sheet</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(packageList.length > 0){ %>
                  <% for(var i=0; i<packageList.length; i++){  %>
                  <tr>
                    <td><%=i %></td>
                    <td><%= packageList[i].packageTitle %></td>
                    <td><%= packageList[i].packageDescription %></td>
                    <% var routes ="";%>
                    <% packageList[i].packageRoutes.forEach(pr=>{ %>
                    <% routes += pr + ", ";%>
                    <% }) %>
                    <td><%= routes %></td>
                    <td><%= packageList[i].packagePrice %></td>
                    <td><img src="/profile/<%= packageList[i].packageImage %>" width="50px" height="50px"></td>
                    <td> <button   style=" border: none;" type="button" class="btn-sm btn-block bg-gradient-warning  text-white" >inProcess</button></td>
                    <td>6</td>
                    <td>4</td>
                    <td>5</td>
                    <td>
                      <div style="display: flex;">
                        <button type="button" class="btn btn-block bg-gradient-success m-2" >view</button>
                        <button type="button" class="btn btn-block bg-gradient-warning m-2">Edit</button>
                        <form action="/guide/delete" method="post"><input name="pId" value="<%=packageList[i]._id%>" hidden />
                        <button type="submit" class="btn btn-block bg-gradient-danger m-2">Delete</button></form>
                      </div>
                     


                    </td>
                  </tr>
                  <% } %>
                  <% } else{%>
                  <tr>
                    <td colspan="9">No Data Found</td>
                  </tr>
                  <% } %>

                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->

  <!-- /.content -->
</div>
<!-- main End -->
<!-- /Footer -->
<%- include("../conn/copyright.ejs") %> <%- include("../conn/footer.ejs") %>
